* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgba(220, 130, 46, 0.5);
    min-height: 100vh;
    margin: 2em;
}
h1 {
    color: rgb(105, 42, 0);
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    padding: 0.5em; /*better to use 'em' for padding*/
    font-size: 3rem;

    
}
h2 {
    font-size: 1rem;
    padding: 0.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p {
    color: dimgrey;
    padding: 0.3em;
}
.circle {
    margin: 3rem 2em;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: rgb(194, 88, 49);
}

main {
    text-align: center;
    padding: 3%;
    margin: 2em 2em;
}

input, button {
    font: inherit;
}