/*Ose*/
.body{
    text-align: center;
    background-size: 100%;
    background-image: url('file:///C:/Users/HP/Documents/Scanned%20Documents/Welcome%20Scan.jpg');

}

/*Ose_*/
.body1{
    text-align: center;
    background-size: 100%;
    background-image: url('C:/Users/Jitic%20Projects/Downloads/shinobu-kocho-3840x2160-7909.jpg');
}
