* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    margin: 1em;
    font-family: monospace;
    font-size: 3em;
    background-color: darkslategray;
}

h1{
    color:rgb(189, 188, 188);
    padding: 0.7rem;
    margin-bottom: 0;
}

.counter {
    margin-top :1rem;
    font-size: 6em;
}

div {
    border-radius: 2em;
    color:rgb(189, 188, 188)
}
button {
    background-color: darkgrey;
    padding: 1em;
    font-size: 0.5em;
    border-radius: 2em;
    border-style: none;
    width: 60%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkslategray;
}