* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    margin: 1em;
    font-family: monospace;
    font-size: 3em;
    background-color: darkslategray;
}

h1{
    color:rgb(189, 188, 188);
    padding: 0.7rem;
    margin-bottom: 0;
}

#counterEl {
    margin-top :1rem;
    font-size: 5em;
}

div {
    border-radius: 2em;
    color:rgb(189, 188, 188)
}
.Yeat {
    background-color: darkgrey;
    padding: 1em;
    font-size: 0.5em;
    border-radius: 2em;
    border-style: none;
    width: 60%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkslategray;
    font-weight: bolder;
}

#sbtn {
    margin: 2em;
    background-color: darkolivegreen;
    border-style: none;
    width: 20%;
    color: azure;
    border-radius: 2em;
    font-size: 0.5em;
    font-weight: lighter ;
    font-family: monospace;
    
}

#previous{
    font-size: 0.6em;
    color: blanchedalmond;
    text-align: left;
}
button:hover {
    opacity: 0.74;
}