/**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: 20px;
    background: #2c2c2c;
    min-height: 100vh;
}

.cont {
    text-align: center;
    padding: 2em;
}
.ani img{
    height: 80px;
    border: 1px none #555;
    padding: 1px;
    margin: 0 10px 10px 0;
    border-radius: 20px;
}

.ani img:hover {
    border: 2px solid rgb(138, 90, 45);
    border-radius: 20px;
}


.preview img {
    width: 800px;
    border: 2.5px solid #444;
    padding: 1px;
    align-content: center;
    border-radius: 40px;
}