/*Ose*/
.body{
    text-align: center;
    background-size: 100%;
    background-image: url('file:///C:/Users/HP/Documents/Scanned%20Documents/Welcome%20Scan.jpg');

}

/*Ose_*/
.body1{
    text-align: center;
    background-size: 100%;
    background-image: url('C:/Users/HP/Downloads/nezuko-kamado-pink-5120x2880-16946.jpg');
}
