/*Ose*/
.body{
    text-align: center;
    background-size: 100%;
    background-image: url('C:/Users/HP/Downloads/one-piece-gear-5-luffy-3840x2160-12504.png');
    /*Luffy Gear 5*/

}

/*Ose_*/
.body1{
    text-align: center;
    background-size: 100%;
    background-image: url('C:/Users/HP/Downloads/nezuko-kamado-pink-5120x2880-16946.jpg');
    /*Nezuko chaaaan*/
}
